<!-- <p id="notice"><%= notice %></p> -->

<h1 class="text-center">Friends</h1>

<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td class="font-weight-bold">
          <%= link_to friend.first_name + ' ' + friend.last_name, friend %>
        </td>
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.twitter %></td>
        <td class="bg-secondary text-center"><%= link_to 'Edit', edit_friend_path(friend) %></td>
        <td class="bg-danger text-center"><%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="text-center">
  <%= link_to 'Add Friend', new_friend_path, class:"btn btn-dark" %>
</div>