<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'Friends List', root_path, class:"navbar-brand" %>
  <!-- <a class="navbar-brand" href="#">Friend List</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%=is_active('home')%>">
        <%= link_to 'Home', root_path, class:"nav-link" %>
        <!-- <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a> -->
      </li>

      <% if user_signed_in? %>
        <li class="nav-item <%=is_active('index')%>">
          <%= link_to 'Friends', friends_path, class:"nav-link" %>
          <!-- <a class="nav-link" href="../home/about">About</a> -->
        </li>
        <li class="nav-item <%=is_active('new')%>">
          <%= link_to 'Add Friend', new_friend_url, class:"nav-link" %>
          <!-- <a class="nav-link" href="../home/about">About</a> -->
        </li>
      <% end %>

      <li class="nav-item <%=is_active('about')%>">
      	<%= link_to 'About', home_about_path, class:"nav-link" %>
        <!-- <a class="nav-link" href="../home/about">About</a> -->
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="nav-item <%=is_active('edit')%>">
          <%= link_to 'Edit Profile', edit_user_registration_path, class:"nav-link" %>
          <!-- <a class="nav-link" href="../home/about">About</a> -->
        </li>
        <li class="nav-item <%=is_active('sign_out')%>">
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class:"nav-link" %>
          <!-- <a class="nav-link" href="../home/about">About</a> -->
        </li>
      <% else %>
        <li class="nav-item <%=is_active('sign_up')%>">
          <%= link_to 'Sign Up', new_user_registration_path, class:"nav-link" %>
          <!-- <a class="nav-link" href="../home/about">About</a> -->
        </li>
        <li class="nav-item <%=is_active('sign_in')%>">
          <%= link_to 'Sign In', new_user_session_path, class:"nav-link" %>
          <!-- <a class="nav-link" href="../home/about">About</a> -->
        </li>
      <% end %>
      
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
<br>